In [96]:
import numpy as np 
arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12])

In [97]:
reshaped = arr.reshape(3,4)
reshaped

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [98]:
flattened = reshaped.flatten()
flattened

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [99]:
revel =reshaped.ravel()
revel[1]=20
revel

array([ 1, 20,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [100]:
reshaped

array([[ 1, 20,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [101]:
arr1=np.array([1,2,3])
print(arr1)
arr2=np.array([1,2,3])
print(arr2)

[1 2 3]
[1 2 3]

In [102]:
arr1+arr2

array([2, 4, 6])

In [103]:
arr1+4

array([5, 6, 7])

In [104]:
arr1=np.array([1,2,3])
print(arr1)
arr2=np.array([[1],[2],[3]])
print(arr2)

[1 2 3]
[[1]
 [2]
 [3]]

In [105]:
import numpy as np
import pandas as pd

In [106]:
np.random.seed(42)
apartments=[f"Apt_{i})" for i in range (1,21)]
apartments

['Apt_1)',
 'Apt_2)',
 'Apt_3)',
 'Apt_4)',
 'Apt_5)',
 'Apt_6)',
 'Apt_7)',
 'Apt_8)',
 'Apt_9)',
 'Apt_10)',
 'Apt_11)',
 'Apt_12)',
 'Apt_13)',
 'Apt_14)',
 'Apt_15)',
 'Apt_16)',
 'Apt_17)',
 'Apt_18)',
 'Apt_19)',
 'Apt_20)']

In [107]:
datas=pd.date_range(start="2021-07-01",periods=10,freq="D")

In [108]:
datas

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
               '2021-07-09', '2021-07-10'],
              dtype='datetime64[ns]', freq='D')

In [109]:
data={
    "date":np.tile(datas,len(apartments)),
    "apartments":np.repeat(apartments,len(datas)),
    "Electricity_usage":np.random.normal(loc=20,scale=5,size=len(datas)*len(apartments))
}
data

{'date': array(['2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000',
        '2021-07-01T00:00:00.000000000', '2021-07-02T00:00:00.000000000',
        '2021-07-03T00:00:00.000000000', '2021-07-04T00:00:00.000000000',
        '2021-07-05T00:00:00.000000000', '2021-07-06T00:00:00.000000000',
        '2021-07-07T00:00:00.000000000', '2021-07-08T00:00:00.000000000',
        '2021-07-09T00:00:00.000000000', '2021-07-10T00:00:00.000000000'],
       dtype='datetime64[ns]'),
 'apartments': array(['Apt_1)', 'Apt_1)', 'Apt_1)', 'Apt_1)', 'Apt_1)', 'Apt_1)',
        'Apt_1)', 'Apt_1)', 'Apt_1)', 'Apt_1)', 'Apt_2)', 'Apt_2)',
        'Apt_2)', 'Apt_2)', 'Apt_2)', 'Apt_2)', 'Apt_2)', 'Apt_2)',
        'Apt_2)', 'Apt_2)', 'Apt_3)', 'Apt_3)', 'Apt_3)', 'Apt_3)',
        'Apt_3)', 'Apt_3)', 'Apt_3)', 'Apt_3)', 'Apt_3)', 'Apt_3)',
        'Apt_4)', 'Apt_4)', 'Apt_4)', 'Apt_4)', 'Apt_4)', 'Apt_4)',
        'Apt_4)', 'Apt_4)', 'Apt_4)', 'Apt_4)', 'Apt_5)', 'Apt_5)',
        'Apt_5)', 'Apt_5)', 'Apt_5)', 'Apt_5)', 'Apt_5)', 'Apt_5)',
        'Apt_5)', 'Apt_5)', 'Apt_6)', 'Apt_6)', 'Apt_6)', 'Apt_6)',
        'Apt_6)', 'Apt_6)', 'Apt_6)', 'Apt_6)', 'Apt_6)', 'Apt_6)',
        'Apt_7)', 'Apt_7)', 'Apt_7)', 'Apt_7)', 'Apt_7)', 'Apt_7)',
        'Apt_7)', 'Apt_7)', 'Apt_7)', 'Apt_7)', 'Apt_8)', 'Apt_8)',
        'Apt_8)', 'Apt_8)', 'Apt_8)', 'Apt_8)', 'Apt_8)', 'Apt_8)',
        'Apt_8)', 'Apt_8)', 'Apt_9)', 'Apt_9)', 'Apt_9)', 'Apt_9)',
        'Apt_9)', 'Apt_9)', 'Apt_9)', 'Apt_9)', 'Apt_9)', 'Apt_9)',
        'Apt_10)', 'Apt_10)', 'Apt_10)', 'Apt_10)', 'Apt_10)', 'Apt_10)',
        'Apt_10)', 'Apt_10)', 'Apt_10)', 'Apt_10)', 'Apt_11)', 'Apt_11)',
        'Apt_11)', 'Apt_11)', 'Apt_11)', 'Apt_11)', 'Apt_11)', 'Apt_11)',
        'Apt_11)', 'Apt_11)', 'Apt_12)', 'Apt_12)', 'Apt_12)', 'Apt_12)',
        'Apt_12)', 'Apt_12)', 'Apt_12)', 'Apt_12)', 'Apt_12)', 'Apt_12)',
        'Apt_13)', 'Apt_13)', 'Apt_13)', 'Apt_13)', 'Apt_13)', 'Apt_13)',
        'Apt_13)', 'Apt_13)', 'Apt_13)', 'Apt_13)', 'Apt_14)', 'Apt_14)',
        'Apt_14)', 'Apt_14)', 'Apt_14)', 'Apt_14)', 'Apt_14)', 'Apt_14)',
        'Apt_14)', 'Apt_14)', 'Apt_15)', 'Apt_15)', 'Apt_15)', 'Apt_15)',
        'Apt_15)', 'Apt_15)', 'Apt_15)', 'Apt_15)', 'Apt_15)', 'Apt_15)',
        'Apt_16)', 'Apt_16)', 'Apt_16)', 'Apt_16)', 'Apt_16)', 'Apt_16)',
        'Apt_16)', 'Apt_16)', 'Apt_16)', 'Apt_16)', 'Apt_17)', 'Apt_17)',
        'Apt_17)', 'Apt_17)', 'Apt_17)', 'Apt_17)', 'Apt_17)', 'Apt_17)',
        'Apt_17)', 'Apt_17)', 'Apt_18)', 'Apt_18)', 'Apt_18)', 'Apt_18)',
        'Apt_18)', 'Apt_18)', 'Apt_18)', 'Apt_18)', 'Apt_18)', 'Apt_18)',
        'Apt_19)', 'Apt_19)', 'Apt_19)', 'Apt_19)', 'Apt_19)', 'Apt_19)',
        'Apt_19)', 'Apt_19)', 'Apt_19)', 'Apt_19)', 'Apt_20)', 'Apt_20)',
        'Apt_20)', 'Apt_20)', 'Apt_20)', 'Apt_20)', 'Apt_20)', 'Apt_20)',
        'Apt_20)', 'Apt_20)'], dtype='<U7'),
 'Electricity_usage': array([22.48357077, 19.30867849, 23.23844269, 27.61514928, 18.82923313,
        18.82931522, 27.89606408, 23.83717365, 17.65262807, 22.71280022,
        17.68291154, 17.67135123, 21.20981136, 10.43359878, 11.37541084,
        17.18856235, 14.9358444 , 21.57123666, 15.45987962, 12.93848149,
        27.32824384, 18.8711185 , 20.33764102, 12.87625907, 17.27808638,
        20.55461295, 14.24503211, 21.87849009, 16.99680655, 18.54153125,
        16.99146694, 29.26139092, 19.93251388, 14.71144536, 24.11272456,
        13.89578175, 21.04431798, 10.20164938, 13.35906976, 20.98430618,
        23.6923329 , 20.85684141, 19.42175859, 18.49448152, 12.60739005,
        16.40077896, 17.69680615, 25.28561113, 21.71809145, 11.18479922,
        21.62041985, 18.0745886 , 16.61539   , 23.05838144, 25.15499761,
        24.6564006 , 15.80391238, 18.45393812, 21.65631716, 24.87772564,
        17.60412881, 19.07170512, 14.46832513, 14.01896688, 24.06262911,
        26.78120014, 19.63994939, 25.01766449, 21.80818013, 16.77440123,
        21.80697803, 27.69018283, 19.8208698 , 27.82321828,  6.90127448,
        24.10951252, 20.43523534, 18.50496325, 20.45880388, 10.06215543,
        18.90164056, 21.78556286, 27.38947022, 17.40864891, 15.95753199,
        17.49121478, 24.57701059, 21.64375555, 17.35119898, 22.56633717,
        20.48538775, 24.84322495, 16.48973453, 18.36168927, 18.03945923,
        12.68242526, 21.48060139, 21.30527636, 20.02556728, 18.82706433,
        12.92314629, 17.89677339, 18.28642742, 15.98861365, 19.19357144,
        22.02025428, 29.43092951, 20.87288906, 21.28775195, 19.62777042,
        10.40614392, 19.86743062, 20.30115105, 32.31621056, 19.03819518,
        21.50773671, 19.82644115, 14.15660981, 25.71411407, 23.75966516,
        23.95515974, 15.45306273, 27.01397155, 12.99074469, 22.93428547,
        30.95227813, 15.04731837, 17.16851135, 20.49825683, 17.48262173,
        12.24668284, 20.34281487, 14.68848143, 22.36796215, 15.40287883,
        27.74967203, 16.08373354, 18.38969242, 24.06758609, 13.84567842,
        21.13729967, 26.53571377, 11.96258383, 20.92316929, 21.29941397,
        23.90911436, 13.81524645, 13.39771693, 22.60970783, 21.48492337,
        21.25246425, 21.73224105, 16.59987639, 21.16126849, 21.46536237,
        16.42824291, 29.32887256, 22.3691646 , 14.04348251, 23.28276804,
        15.12659165, 23.93542302, 25.7929779 , 15.89658841, 24.81688065,
        22.06390463, 24.1103008 , 29.48396491, 18.77305942, 16.23131918,
        15.55242785, 15.92094858, 19.61449145, 21.70575987, 21.383454  ,
        24.13591625, 20.06500946, 27.26767039, 18.67671583, 33.60084583,
        23.12833674, 15.71421222, 14.64553751, 22.41236208, 18.88268607,
        23.57000247, 22.36618812, 19.63585544, 15.76603141, 12.42576388,
        17.76742524, 24.28199397, 21.07046872, 13.77130611, 20.86590463,
        21.9265869 , 15.58071282, 20.76862553, 20.29104359, 14.28514851])}

In [110]:
df=pd.DataFrame(data)
df

          date apartments  Electricity_usage
0   2021-07-01     Apt_1)          22.483571
1   2021-07-02     Apt_1)          19.308678
2   2021-07-03     Apt_1)          23.238443
3   2021-07-04     Apt_1)          27.615149
4   2021-07-05     Apt_1)          18.829233
..         ...        ...                ...
195 2021-07-06    Apt_20)          21.926587
196 2021-07-07    Apt_20)          15.580713
197 2021-07-08    Apt_20)          20.768626
198 2021-07-09    Apt_20)          20.291044
199 2021-07-10    Apt_20)          14.285149

[200 rows x 3 columns]

In [111]:
print(df.describe)

<bound method NDFrame.describe of           date apartments  Electricity_usage
0   2021-07-01     Apt_1)          22.483571
1   2021-07-02     Apt_1)          19.308678
2   2021-07-03     Apt_1)          23.238443
3   2021-07-04     Apt_1)          27.615149
4   2021-07-05     Apt_1)          18.829233
..         ...        ...                ...
195 2021-07-06    Apt_20)          21.926587
196 2021-07-07    Apt_20)          15.580713
197 2021-07-08    Apt_20)          20.768626
198 2021-07-09    Apt_20)          20.291044
199 2021-07-10    Apt_20)          14.285149

[200 rows x 3 columns]>

In [112]:
print(df.dtypes)

date                 datetime64[ns]
apartments                   object
Electricity_usage           float64
dtype: object

In [114]:
usage_per_apartments = df.groupby("apartments")["Electricity_usage"].sum().sort_values(ascending=False)
print(usage_per_apartments)

apartments
Apt_1)     222.403056
Apt_18)    217.923240
Apt_17)    216.231011
Apt_6)     209.972071
Apt_16)    207.663743
Apt_12)    206.893698
Apt_9)     205.072372
Apt_13)    203.496211
Apt_7)     199.247150
Apt_8)     197.613194
Apt_11)    197.528127
Apt_15)    197.074889
Apt_10)    192.540430
Apt_20)    190.609216
Apt_3)     188.907822
Apt_19)    188.546976
Apt_5)     187.358891
Apt_14)    185.185183
Apt_4)     184.494667
Apt_2)     160.467088
Name: Electricity_usage, dtype: float64

In [118]:
print(df.columns)

Index(['date', 'apartments', 'Electricity_usage'], dtype='object')

In [119]:
daily_avg = df.groupby("date")["Electricity_usage"].mean()
print(daily_avg.head())

date
2021-07-01    19.104638
2021-07-02    20.955763
2021-07-03    19.444996
2021-07-04    19.216791
2021-07-05    18.980068
Name: Electricity_usage, dtype: float64

In [125]:
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
plt.figure()

NameError: name 'figures' is not defined